html
  head
    title KSBA BANKING 
    style.
      ul {
      list-style: none;
      margin-top: 0;
      padding: 0;
      }
      a {
      cursor: pointer;
      display: block;
      color: #b3b3b3;
      text-decoration: none;
      }
      .bckg {
      background-color: #383B42;
      box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
      width: 200px;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      }
      h1 {
      text-align: center;
      font-weight: normal;
      color: #F6F6EF;
      line-height: 60px;
      margin: 0;
      font-size: 20px;
      letter-spacing: 2px;
      background-color: #383B42;
      border-bottom: 1px solid rgba(101, 116, 134, 0.57);
      margin-right: 10px;
      }
      h2 {
      font-size: 20px;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 3px;
      color: #919191;
      font-weight: normal;
      padding-left: 40px;
      line-height: 60px;
      text-shadow: 1px 1px 2px #fff;
      position: relative;
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      }
      header {
      width: 200px;
      height: 100%;
      float: left;
      position: relative;
      z-index: 99;
      }
      header nav ul li {
      border-bottom: 1px solid #42454D;
      transition: all 0.6s;
      border-top: 1px solid #2E3036;
      margin-right: 10px;
      }
      header nav ul li:hover {
      background-color: #454952;
      transition: all 0.6s;
      border-bottom: 1px solid #797979;
      margin-right: 10px;
      }
      header nav ul li:hover a {
      color: #fff;
      transition: all 0.6s;
      }
      header nav ul li a {
      line-height: 55px;
      font-size: 18px;
      position: relative;
      letter-spacing: 1px;
      transition: all 0.6s;
      margin-right: 10px;
      }
      header nav ul li a:before {
      font-family: 'entypo', sans-serif;
      font-size: 20px;
      position: absolute;
      left: -32px;
      margin-right: 10px;
      }
      main {
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      }
      .title {
      background-color: #fff;
      border-bottom: 1px solid #C0C1C0;
      height: 60px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      }
      .title a {
      color: #AAA;
      width: auto;
      margin: 0 20px;
      float: right;
      line-height: 62px;
      position: relative;
      text-decoration: none;
      transition: all .5s;
      }
      a:hover {
      color: #33526B;
      transition: all .5s;
      }
      .larg {
      max-width: 960px;
      margin: 30px auto;
      padding: 0 30px;
      }
      .larg div {
      background-color: #F7F7F7;
      border: 1px solid #E2E2E2;
      padding: 0 20px;
      margin: 15px 0;
      }
      .larg div:hover {
      background-color: #fafafa;
      }
      .larg div h3 span {
      font-family: 'entypo';
      font-size: 19px;
      position: absolute;
      right: 0;
      transition: all .6s;
      }
      .larg div h3 span.close {
      -webkit-transform: rotate(180deg);
      transition: all .5s;
      }
      .larg div p {
      display: none;
      margin-left: 10px;
      padding: 0 15px;
      border-left: 1px solid #ccc;
      }
      .topnav {
      overflow: hidden;
      background-color: #383B42;
      }
      .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      }
      .topnav a:hover {
      background-color: #ddd;
      color: black;
      }
      .topnav a.active {
      background-color: #ddd;
      color: red;
      }
      .profile a.active {
      background-color: #ddd;
      color: red;
      }
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script.
      $(document).ready(function() {
      $('#example').DataTable();
      } );
  body(style='height:300px')
    span.bckg
    header
      .profile
        h1
          | Net Banking
          img(src='images/rsz_call.png', alt='Mountain View', width='140', height='70')
        nav
          ul
            li
              a.active(href='/login_otp_correct', data-title='Team') Accounts Summary
            li
              a(href='/card_block', data-title='Team') Credit Card Hotlisting
            li
              a(href='/card_unblock', data-title='Team') Re-Issuance of Hotlisted Cards
    main
      .title
        h2
          a(href='/login_otp_correct') Hello #{name}
      .topnav
        a.active(href='/login_otp_correct') Accounts
        a(href='/view_profile') Profile
        a(href='/alerts') Alerts
        a(href='/logout') Logout
      article.larg(style='padding-left:200px;')
        h2 Transanction History
        br
        b Savings Account Number: #{sa}
        br
        br
        b Closing Balance: #{cb}
        br
        table#example(style='width:100%')
          thead
            tr
              th Date(Value Date)
              th Narration
              th Withdrawal
              th Deposit
              th Closing Balance
          tbody
            - for(var item = 0; item < results.transanctionHistory.length; item++)
                tr
                    td #{results.transanctionHistory[item].Date}
                    td #{results.transanctionHistory[item].Narration}
                    td #{results.transanctionHistory[item].Withdrawal}
                    td #{results.transanctionHistory[item].Deposit}
                    td #{results.transanctionHistory[item].cb}
          tfoot
            tr
              th Date(Value Date)
              th Narration
              th Withdrawal
              th Deposit
              th Closing Balance
        br
        button(formaction='/login_otp_correct') Back
